module_{{module_short_name}}:
  dummy_text: >-
    Configuration values (like this one) are also external to the module!
    This gives users a lot of flexiblity in how they apply your methodology to solve their particular needs.
