# Home

Welcome to the documentation of the `{{module_short_name}}` data module!
Please consult our [how to use guidelines](./how_to_use.md) and the [`clio` documentation](https://clio.readthedocs.io/) for more information.
